*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Helvetica, Arial, sans-serif;

}

body{
    color:#333;
    height:100vh;
    width: 100%;
    font-size: 20px;
    background-image: url(back.jpg);


}
.menu{
    display:right;
    justify-content:space-between;
    position:relative;
    float:right;
    height:60px;
    font-size:25px;
    top:25px;


}
.menu ul li{
    display:inline-block;
    list-style:none;
    ;
    
}
.menu ul li a{
    list-style-type:none;
    text-decoration: none;
    color:white;
    margin-top: 60px;
    margin-right: 60px;
    
    padding:10px;

}

.menu ul li a:hover{
    background-color:white;
    color:black;
    border-radius:10px;
}


.showcase{
   
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}
h1{
    font-size: 30px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 5px rgba(0,0,0,0.6);
}
p{
    font-size: 20px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px rgba(0,0,0,0.6);

    
}
.btn{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
   
}

.btn:hover{
    background-color: #fff;
    color: #333;
    text-decoration: none;
}